body {
    background-color: #66ffbe;
    font-family: Arial;
}

h1 {
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 50vw;
    height: 50vw;
    margin: auto;
    grid-gap: 15px 15px
}
.controls {
    text-align: center;
}


.box {
    border-radius: 10px;
    background-color: #17a567;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.black {
    background-color: black;
}

.blackhover{
    background-color: rgba(0, 255, 0, 0.3);

}

.hoverwhite{
    background-color: rgba(0, 0, 255, 0.3);

}
.white {
    background-color: white;
}
