body {
    background-color: #66ffbe;
    font-family: Arial;
}

h1 {
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 50vw;
    height: 50vw;
    margin: auto;
    grid-gap: 25px 25px
}

.box {
    background-color: #17a567;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.red {
    background-color: black;
}

.redhover{
    background-color: rgba(0, 255, 0, 0.3);

}
.hoverblue{
    background-color: rgba(0, 0, 255, 0.3);

}
.blue {
    background-color: white;
}
